@tailwind base;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:wght@100;300;400;500&family=Nunito:wght@300;");
@layer base {
  html {
    font-family: Nunito, sans-serif;
    font-weight: 300;
  }
  h1 {
    @apply font-fira font-medium;
  }
}

@tailwind components;

@tailwind utilities;
@layer utilities {
  html {
    scroll-behaviour: smooth;
  }

  .section {
    height: calc(100vh - 16px);
    scroll-margin-top: 16px;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
  }
  .section:before {
    padding-top: 1px;
    display: block;
    content: "";
  }

  .btn {
    @apply bg-indigo-500 font-thin py-3 px-5 tracking-wide text-white rounded-sm;
  }
  .btn:hover {
    @apply bg-indigo-700;
  }
}
